@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 240 33% 14%;
    --card: 0 0% 100%;
    --card-foreground: 240 33% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 33% 14%;
    --primary: 153 41% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 44% 62%;
    --secondary-foreground: 240 33% 14%;
    --muted: 210 17% 95%;
    --muted-foreground: 215 16% 47%;
    --accent: 152 44% 92%;
    --accent-foreground: 153 41% 30%;
    --destructive: 355 71% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 20% 90%;
    --input: 214 20% 90%;
    --ring: 153 41% 30%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
